:root {
  --white: #fff;
  --main: #00a8ff;
  --second: #4c5a81;  
  --success: #45bd32;
  --blue: #1a3379;
  --error: #fd4144;  
  --dark: #1e2433;
  --black: #000; 
  --orange: #fc8106;
  --lighter: #f5f5f5;
  --footer: #131212;
  --trasparent:#01060fc7;
}
body {
  box-sizing: border-box;
  line-height: 1.8rem;  
}
.disclaimer {
  font-size: 10px;
}
.background{
  background-color: var(--black);
}
.second-background{
  background-color: var(--second);
}
.dark-background{
  background-color: var(--dark);
}
.navbar-light,
.bg-light {
  background-color: var(--black) !important;
  font-weight: 600;  
}
li {
  list-style: none;
}
.website-name{
  font-weight: 700;
}
.font {
  color: var(--white);
}
.font2 {
  color: var(--main);
}
.font-hero-pages{
  color: var(--white);
  text-shadow: 1px 2px var(--black);
  font-weight: 800;
  background-color: var(--trasparent);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 2px var(--white);
}
.background-image{
  background-image:url(/img/truck-1181063_1920.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;
  border-bottom: 10px solid var(--black);    
}
a {
  text-decoration: none;
  color: var(--white) !important;
}
a:hover {
  font-weight: bold;
}
#hero h1{
  font-size: 80px;
  text-shadow: 1px 2px 5px var(--black);
}
#hero h5{
  font-size: 30px;  
  text-shadow: 1px 2px 5px var(--black);
}
.row-hero{
  background-image: url(/img/truck.jpg);  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 40px solid var(--black);   
  height: 100%;
}
.text{
  color: var(--white);
  position: absolute;
  z-index: 1;    
}
#hero i{
  margin-top:100px;
  color: var(--white);
  position: absolute;
  z-index: 1; 
  font-size: 30px;   
}
.height{
  height: 90vh;
}
.layer{
  position: absolute;  
  background-color: var(--black);
  opacity: 0.8;
  height: 90%;
  width: 100%;
}
.sub-hero img{
  width: 60%;
}
.span-name{
  color: var(--purple); 
  border-radius: 30px;
  padding: 0 10px;
  font-weight: 800;
}
.main{
  background-color: var(--dark);
  color: var(--white);
}
.main i{
  font-size: 30px;
  color: var(--main);
}
.main a{
  background-color: var(--second)!important; 
  border: 0;
  color: var(--dark)!important;
}
.tools h1{
  color: #fd4144;
  font-weight: 800;  
}
.card{
  background-color: var(--white);
  border:0;
  border-radius: 0;  
  padding: 0;
}
.card-heading{
  background-color: var(--lighter);  
  color: var(--second); 
  width: 100%;
  margin: 0;
  padding: 20px;  
}
.card-body{
  color: var(--black);
  font-weight: 700;  
}
.tools-list{
  border-left: 2px solid var(--second);
}
.tools button{
  background-color: var(--blue);
  border: 0;
}
.contact{
  background-color: var(--dark);  
  padding: 40px!important;
  border-radius: 5px;  
}
.contact h3, h6{
  color: var(--second);
}
.contact .form-control{
  border-radius:0;
  border: 0;
  border-bottom: 2px solid var(--second);
  width: 100%;
}
.input-bg {
  background: transparent;  
}
.input-fields{
  width: 80%;
}
.contact-btn {
  width: 100%; 
  background-color: var(--second); 
  border: 0;
  color: var(--dark);
}
.frequently-ask-question h2{
  font-weight: 800!important;
}
.frequently-ask-question .btn{
  background-color: var(--blue)!important;
  border: 0;
}
.btn-tip-modal{
  border-radius: 10px;
  color: var(--white);
  text-shadow: 1px 2px var(--black);  
  background-color: var(--trasparent);   
}
.footer {
  background-color: var(--footer);     
}
.footer h2{
  color: var(--white);
}
.footer a{
  color: var(--white)!important;
}
.footer i{
  font-size: 20px;
}
@media (max-width: 768px) {
  .sub-hero img{
    width: 70%;
  }  
  .tools-list{
    border-left:0;
  }  
}
@media (max-width: 425px) {
  #hero h1{
    font-size: 60px;
  }
  #hero h5{
    font-size: 20px;
  }  
  .input-fields{
    width: 100%;
  }  
  .layer{
    display: none;
  }  
  .text{
   background-color: var(--black);
    opacity: 0.7;
  }
}
@media (max-width: 320px) {
  .sub-hero img{
    width: 80%;
  }  
}